.range-toolbar{
    width:250px;
    margin: 0px;
    /* border: 2px solid red; */
}

.range{
    margin: 0px;
    /* border: 2px solid blue; */
    /* height: 30px; */
}
.writing{
    /* border: 2px solid green; */
    /* height: 30px; */
    margin: 0px;
}
.writing h5{
    display: inline;
    position: relative;
    
}
.pos1{
    left: 1%;
    position: absolute;
}
.pos2{
    left: 50%;
    position: absolute;

}
.range hr{
    width: 200px;
    height: 1px;
    background-color: black;
    display: inline-block;
}


.low{
    color:red;
}
.high{
    color:green;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: black;
    border-radius: 50%;
    display: inline-block;
    position: absolute;
  }

